.app_root{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #393E46;
}
.app_body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 60px);
}
