.todo_main_root{
    width: 900px;
    height: 600px;
    background-color: #eaeaea;
    border-radius: 12px;
    box-shadow: inset 0px 0px 10px #666;
}
.todo_main_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 40px);
    height: 40px;
}
.todo_main_title_container > span{
    font-family: helvetica, arial;
    color: #00ADB5;
    font-weight: 500;
}
.todo_main_title_container > span > b{
    font-weight: bold;
}
.todo_main_body{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: calc(100% - 60px);
    height: calc(100% - 40px - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}
.todo_main_create_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.todo_main_create_div{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 500px;
    height: 30px;
    border-radius: 12px;
    border: 1px solid #00ADB5;
}
.todo_main_create_div > input {
    padding: 0 10px;
    width: calc(100% - 1px - 20px);
    height: calc(100% - 2px);
    border: 0;
    outline: none;
    border-radius: 12px;
}
