.top_bar_root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    width: calc(100% - 60px);
    height: 60px;
}
.top_bar_title_container{
    /*padding: 0 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
}
.top_bar_title_container > span{
    font-family: helvetica, arial;
    font-size: 1.6rem;
    font-weight: bold;
    color: #00ADB5;
}
.top_bar_userinfo_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.top_bar_user{
    padding: 0 20px;
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 8px;
}
.top_bar_user > span{
    font-family: helvetica, arial;
    font-size: 1rem;
    color: #00ADB5;
}

.logout_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: #eaeaea;
    border-radius: 8px;
    transition: all 0.6s ease;
}
.logout_btn:hover{
    background-color: #00ADB5;
}
.logout_btn:hover > span{color: #eaeaea;}
.logout_btn > span {
    font-family: helvetica, arial;
    color: #00ADB5;
    font-weight: 500;
}
