.auth_input_component_root{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.auth_txt_area::before{
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    transition: all 0.4s ease;
}
.auth_input_header_label{
    position: absolute;
    font-size: 1rem;
    color: #eaeaea;
    transition: all 0.4s ease;
    bottom: 5px;
    width:100%;
    pointer-events:none;
}
.auth_input{
    width: 100%;
    outline: none;
    border: 0;
}
.auth_input:focus~.auth_input_header_label,
.auth_input:valid~.auth_input_header_label{
    transform: translate(-2px, -16px);
    color: #2691d9;
}
.auth_input:focus~.auth_txt_area::before,
.auth_input:valid~.auth_txt_area::before{
    background-color: #2691d9;
}
